profiles {
    standard {

        singularity {
            autoMounts = false
            enabled = true
            cacheDir = "/hpc-home/leviet/singularity"
        }

        process {
            // container = "/hpc-home/leviet/singularity/campy.sif"
            executor = "slurm"
            // clusterOptions = '--ntasks-per-node=8 --mem=16GB'
            // clusterOptions = '--partition=qib-long --nodelist=q1024n1'
        }

        executor {
            queueSize = 100
            // pollInterval = '120 sec'
            submitRateLimit = '30 sec'
        }

        trace {
            enabled = true
            file = 'pipeline_trace_non_strep.txt'
            fields = 'task_id,name,status,exit,realtime,%cpu,rss'
        }

        report {
            enabled = true
            file = "report_non_strep.html"
        }
    }
}